
<div class="container">
    
    <button class="button_addfilter"> + Add Filter</button>    
    <table>
        <thead>
        <tr>
            <th>User Name</th>
            <th>Subject</th>
            <th>Customer Satisfaction</th>
            <th>Priority</th>        
            <th>Status</th>        
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Juan José Gonazalez</td>
            <td>I cant blablablablabla</td>
            <td>100%</td>
            <td class="circle-td" > <div class="circle"></div> High</td>
            <td>Solved</td>
        </tr>

        <tr>
            <td>Juan José Gonazalez</td>
            <td>I cant blablablablabla</td>
            <td>100%</td>
            <td class="circle-td"> <div class="circle"></div> High</td>
            <td>Solved</td>
        </tr>

        <tr>
            <td>Juan José Gonazalez</td>
            <td>I cant blablablablabla</td>
            <td>100%</td>
            <td class="circle-td"> <div class="circle"></div> High</td>
            <td>Solved</td>
        </tr>

        <tr>
            <td>Juan José Gonazalez</td>
            <td>I cant blablablablabla</td>
            <td>100%</td>
            <td class="circle-td" > <div class="circle"></div>High</td>
            <td>Solved</td>
        </tr>
        </tbody>
    </table>
  
</div>
