<div class="container">
    <div>
        <select [(ngModel)]="selectedStatus" (change)="filterStatusData()">
            <option value="">All Status</option>
            <option value="Pending">Pending</option>
            <option value="Open">Open</option>
            <option value="Solved">Solved</option>
        </select>
        <button class="button_addfilter" (click)="showCard()">+ Add Filter</button>
        <p class="data-count">{{dataCount}} request</p>
    </div>
    <table>
        <thead>
            <tr>
                <th>User Name</th>
                <th>Subject</th>
                <th>Customer Satisfaction</th>
                <th>Priority</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let date of filteredData">
                <td><label><input type="checkbox" id="cbox" value="checkbox">{{date.userName}}</label><br></td>
                <td>{{date.subject}}</td>
                <td>{{date.customerSatisfaction}}</td>
                <td class="circle-td">
                    <div class="circle"
                        [ngClass]="{'high-priority': date.priority === 'High', 'medium-priority': date.priority === 'Medium', 'low-priority': date.priority === 'Low'}">
                    </div>
                    <div class="priority-text">{{date.priority}}</div>
                </td>
                <td>{{date.status}}</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="cardInfo" class="card fade-in">
        <div>
            <p class="title-card">Create your new filter!</p>
            <select class="select-card" [(ngModel)]="filterOption" (change)="selectFilters()">
                <option value="priority">Priority</option>              
                <option value="satisfaction">Customer Satisfaction</option>              
            </select>
            <select class="select-card " [(ngModel)] = "selectedFilter">
                <option value="">All</option>
                <option *ngFor="let option of filtersInfo" [value]="option">{{option}}</option>
            </select>
        </div>
        <div>
            <button class="confirmation-button" (click)="filterData()">Confirmar</button>
        </div>
    </div>
</div>