<div class="container">

    <div>
        <select [(ngModel)]="selectedStatus" (change)="filterData();">
            <option value="">All Status</option>
            <option value="Pending">Pending</option>
            <option value="Open">Open</option>
            <option value="Solved">Solved</option>
          </select>

        <button class="button_addfilter"> + Add Filter</button>
        <p class="data-count">{{dataCount}} request</p>
    </div>
    <table>
        <thead>
            <tr>
                <th>User Name</th>
                <th>Subject</th>
                <th>Customer Satisfaction</th>
                <th>Priority</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let date of filteredData">
                <td><label><input type="checkbox" id="cbox" value="checkbox">{{date.userName}}</label><br></td>
                <td>{{date.subject}}</td>
                <td>{{date.customerSatisfaction}}</td>
                <td class="circle-td">
                    <div class="circle" [ngClass]="{'high-priority': date.priority === 'High', 'medium-priority': date.priority === 'Medium', 'low-priority': date.priority === 'Low'}"></div>
                    <div class="priority-text">{{date.priority}}</div>
                </td>
                <td>{{date.status}}</td>
            </tr>
        </tbody>
    </table>

</div>