.container {
    margin: 20vh 20vh;
    display: flex;
    flex-direction: column;
}
  
table {
    z-index: 0;
    border-collapse: collapse;      
    border-spacing: 10px;
    padding: 10px;        

}

table th{
    padding: 10px;
    margin: 5px ;
    text-align: left;
    color: #7c7c7c;
}

table tr {
    border-bottom: 1px solid #c2c2c2;
}

table td{    
    padding: 10px;
    margin: 5px;
}

.button_addfilter {
    margin: 10px;
    border: 2px solid rgb(51, 183, 51);
    background-color: transparent;
    padding: 10px 15px;
    color: rgb(51, 183, 51);
    font-weight: bold;
    border-radius: 5px;
  }
  
.button_addfilter:hover {
    background-color: rgb(51, 183, 51);
    color: white;
    cursor: pointer;
}

.confirmation-button{
    margin: 10px;
    border: 2px solid rgb(51, 183, 51);
    background-color: rgb(51, 183, 51);
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.confirmation-button:hover{
    background-color: rgb(86, 230, 86);
    border: 2px solid rgb(86, 230, 86);
    box-shadow: 0 0 5px rgba(91, 76, 255, 0.5);
    color: white;
    cursor: pointer;
}

select {    
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: auto;
}

option {
    padding: 8px;
}


.circle-td {
    display: flex;
    align-items: center;
}

.circle {
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    margin-right: 10px;
}

.high-priority {
    background-color: rgb(253, 60, 60);
}

.medium-priority {
    background-color: rgb(255, 183, 0);
}

.low-priority {
    background-color: rgb(60, 170, 255);
}


input[type="checkbox"] {
    content: "";
    display: inline-block;
    border: 1px solid #c2c2c2;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
    
input[type="checkbox"]:hover {
    box-shadow: 0 0 5px rgba(91, 76, 255, 0.5);
}

.data-count{
    margin: 10px;    
    font-weight: bold;
}

.title-card{
    margin: 10px;
    font-weight: bold;
    font-size: large;
}

.select-card{
    margin: 20px; 
}

.card{
    position: absolute;
    top: 40%;        
    margin: 0 auto;
    padding: 10px;   
    width: 50%;
    height: 20%;
    border: 1px solid #a19f9f;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(91, 76, 255, 0.5);
    background-color: rgb(239, 239, 239);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation-name: fadeIn;
    animation-duration: 0.5s;
  }

@media screen and (max-width: 768px) {
    .container {
        margin: 10vh 10vh;
    }

    table {
      width: 100%;
      max-width: 768px;
      margin: 0 auto;
    }

    th, td {
        padding: 5px;
    }
}


